.pro-image{
    width: 200px;
    height: 200px;
}

.price{
    color: blue;
}

.details{
    display: flex;
    justify-content: space-between;
}

.pro-det-image{
    padding: 10px;
    width: 100%;
    height: 500px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.desc{
    text-align: justify;
}